ul {
  list-style: none;
  padding: 0;
}
li {
  height: 5vh;
  margin-inline: 10vw;
  margin-block: 10px;
  padding-inline: 10vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid;
}
.li-task-complete {
  color: rgba(255, 255, 255, 0.15) !important;
}
.task-card {
  width: 100vw;
  display: flex;
  flex-direction: row;
}
.task-complete {
  text-decoration: line-through;
}
img {
  width: 15px;
}
button {
  background-color: white;
}
